<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @job.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @job.message %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @job.complete %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
